<!-- scan_ip.html -->

<!DOCTYPE html>
<html>
<head>
    <title>IT Security System</title>
</head>
<body>
    <h1>Scan IP Address</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <br>
        <label><input type="checkbox" name="smb_scan"> SMB</label><br>
        <label><input type="checkbox" name="smtp_scan"> SMTP</label><br>
        <label><input type="checkbox" name="ssh_scan"> SSH</label><br>
        <label><input type="checkbox" name="http_scan"> HTTP</label><br>
        <br>
        <button type="submit">Scan</button>
    </form>
</body>
</html>